body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f4f5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
  color: #002f34;
  font-weight: bold;
  font-size: 20px;
}

.login-btn {
  padding: 8px 15px;
  background-color: #002f34;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sell-btn {
  background: linear-gradient(90deg, #00e676, #00c853);
  border: none;
  padding: 8px 18px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}

.sell-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.search-section {
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 10px;
}

.search-section input {
  width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-section button {
  padding: 10px 15px;
  background-color: #23e5db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 25px;
  background-color: white;
  padding: 10px;
  font-weight: bold;
}

.categories span {
  cursor: pointer;
  margin-right: 15px;
  font-weight: 500;
  transition: 0.2s;
}

.categories span:hover {
  color: green;
  transform: scale(1.05);
}

.section-title {
  margin-left: 40px;
  font-size: 18px;
  color: #002f34;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px 40px;
}

.card {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  border-radius: 5px;
  display: block;
  object-fit: cover;
}

.card h4 {
  margin: 10px 0 5px;
  color: #002f34;
}

.card p {
  margin: 0;
}

.card span {
  font-size: 12px;
  color: gray;
}

.no-products {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: gray;
}

.post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  background-color: #f2f4f5;
  min-height: 100vh;
}

.post-card {
  background: white;
  padding: 40px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.post-card h2 {
  margin-bottom: 25px;
  text-align: center;
}

.post-form input,
.post-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.post-form input:focus,
.post-form select:focus {
  outline: none;
  border-color: #00c853;
}

.post-btn {
  width: 100%;
  padding: 10px;
  background-color: #00c853;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.post-btn:hover {
  background-color: #009624;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f2f4f5;
}

.login-card {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  text-align: center;
}

.login-card h2 {
  margin-bottom: 25px;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.login-card input:focus {
  outline: none;
  border-color: #00c853;
}

.login-card .login-btn {
  width: 100%;
  padding: 10px;
  background-color: #00c853;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-card .login-btn:hover {
  background-color: #009624;
}